* {
  font: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:after,
  &:before {
    box-sizing: border-box;
    border: none;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: $body-bg;
  color: $body-color;
  text-rendering: optimizelegibility;
  font-family: $font-family-base;
  font-size: $font-size-root;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  background-color: $body-bg;
  color: $body-color;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  animation: fadeIn 1s ease forwards;
  @keyframes fadeIn {
    0% { visibility: hidden; opacity: 0; }
    100% { visibility: visible; opacity: 1; }
  }
}
