@import "/src/styles/bases/variables";

.option-check {
    border: $border-width $border-style $gray-400;
    color: $black;

    input[type="checkbox"]:checked ~ label {
        border-color: $brown;
        color: $brown;
        font-weight: $font-weight-bolder;
    }
}