USE [master]
GO
/****** Object:  Database [SoftKiwiFlorist]    Script Date: 8/28/2024 1:20:33 PM ******/
CREATE DATABASE [SoftKiwiFlorist]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SoftKiwiFlorist', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLSERVER\MSSQL\DATA\SoftKiwiFlorist.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SoftKiwiFlorist_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLSERVER\MSSQL\DATA\SoftKiwiFlorist_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SoftKiwiFlorist].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SoftKiwiFlorist]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 8/28/2024 1:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banners]    Script Date: 8/28/2024 1:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banners](
	[Id] [uniqueidentifier] NOT NULL,
	[CategoryId] [uniqueidentifier] NULL,
	[Image] [nvarchar](256) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[NormalizedTerm] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_Banners] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 8/28/2024 1:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[Id] [uniqueidentifier] NOT NULL,
	[SessionId] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_CartItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 8/28/2024 1:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](25) NOT NULL,
	[Image] [nvarchar](256) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[NormalizedTerm] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 8/28/2024 1:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[Vote] [int] NOT NULL,
	[Comment] [nvarchar](150) NOT NULL,
	[Image] [nvarchar](256) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[NormalizedTerm] [nvarchar](256) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[FullName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_Feedbacks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 8/28/2024 1:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[Id] [uniqueidentifier] NOT NULL,
	[CategoryId] [uniqueidentifier] NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Summary] [nvarchar](256) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](256) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[NormalizedTerm] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 8/28/2024 1:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderId] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 3) NOT NULL,
	[TotalPrice] [decimal](18, 3) NOT NULL,
	[Id] [uniqueidentifier] NOT NULL,
	[Discount] [decimal](18, 3) NULL,
	[DiscountPercentage] [decimal](18, 3) NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 8/28/2024 1:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [nvarchar](450) NULL,
	[ReceiverName] [nvarchar](256) NOT NULL,
	[ReceiverAddress] [nvarchar](256) NOT NULL,
	[PhoneNumber] [nvarchar](12) NOT NULL,
	[NormalizedTerm] [nvarchar](500) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[TotalAmount] [decimal](18, 3) NOT NULL,
	[OrderAt] [datetime] NOT NULL,
	[OrderStatusId] [uniqueidentifier] NOT NULL,
	[SessionId] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatuses]    Script Date: 8/28/2024 1:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatuses](
	[Id] [uniqueidentifier] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_OrderStatuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatusHistories]    Script Date: 8/28/2024 1:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatusHistories](
	[OrderId] [uniqueidentifier] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[OrderStatusId] [uniqueidentifier] NOT NULL,
	[Id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_OrderStatusHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethods]    Script Date: 8/28/2024 1:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethods](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_PaymentMethods] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentStatuses]    Script Date: 8/28/2024 1:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentStatuses](
	[Id] [uniqueidentifier] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_PaymentStatuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentTransactions]    Script Date: 8/28/2024 1:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTransactions](
	[Id] [uniqueidentifier] NOT NULL,
	[SessionId] [uniqueidentifier] NOT NULL,
	[PaymentMethodId] [uniqueidentifier] NOT NULL,
	[PaymentStatusId] [uniqueidentifier] NOT NULL,
	[TotalAmount] [decimal](18, 3) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[NormalizedTerm] [nvarchar](500) NOT NULL,
	[UserId] [nvarchar](450) NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_PaymentTransactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 8/28/2024 1:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [uniqueidentifier] NOT NULL,
	[CategoryId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](25) NOT NULL,
	[Description] [nvarchar](256) NOT NULL,
	[Image] [nvarchar](256) NOT NULL,
	[Price] [decimal](18, 3) NOT NULL,
	[Sold] [int] NULL,
	[Viewed] [int] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[NormalizedTerm] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PromotionProducts]    Script Date: 8/28/2024 1:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromotionProducts](
	[PromotionId] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[Id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_PromotionProducts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 8/28/2024 1:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](150) NOT NULL,
	[StartAt] [datetime] NOT NULL,
	[EndAt] [datetime] NOT NULL,
	[NormalizedTerm] [nvarchar](256) NOT NULL,
	[Discount] [decimal](18, 3) NOT NULL,
	[DiscountPercentage] [decimal](18, 3) NOT NULL,
 CONSTRAINT [PK_Promotions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleClaims]    Script Date: 8/28/2024 1:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_RoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 8/28/2024 1:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SessionStatuses]    Script Date: 8/28/2024 1:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SessionStatuses](
	[Id] [uniqueidentifier] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_SessionStatuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShoppingSessions]    Script Date: 8/28/2024 1:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingSessions](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [nvarchar](450) NULL,
	[SessionStatusId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_ShoppingSessions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserClaims]    Script Date: 8/28/2024 1:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLogins]    Script Date: 8/28/2024 1:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_UserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 8/28/2024 1:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/28/2024 1:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [nvarchar](450) NOT NULL,
	[FullName] [nvarchar](256) NULL,
	[HomeAddress] [nvarchar](256) NULL,
	[Avatar] [nvarchar](256) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[NormalizedTerm] [nvarchar](4000) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTokens]    Script Date: 8/28/2024 1:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240714115026_initDatabase', N'8.0.7')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240717041001_v1', N'8.0.7')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240719143955_v2', N'8.0.7')
GO
INSERT [dbo].[Banners] ([Id], [CategoryId], [Image], [CreatedAt], [UpdatedAt], [NormalizedTerm]) VALUES (N'8f46f571-3045-4797-a34f-0461c3cd162c', NULL, N'images/banners/8f46f571-3045-4797-a34f-0461c3cd162c.jpeg', CAST(N'2024-08-02T12:52:35.330' AS DateTime), CAST(N'2024-08-27T16:28:10.680' AS DateTime), N'---2024-08-02T12:52:35.3300000---2024-08-27T16:28:10.6788790+07:00')
INSERT [dbo].[Banners] ([Id], [CategoryId], [Image], [CreatedAt], [UpdatedAt], [NormalizedTerm]) VALUES (N'66b50125-cb02-40ab-bd59-311920a325b8', NULL, N'images/banners/66b50125-cb02-40ab-bd59-311920a325b8.jpeg', CAST(N'2024-08-23T23:16:39.830' AS DateTime), CAST(N'2024-08-23T23:16:39.830' AS DateTime), N'---2024-08-23T23:16:39.8299040+07:00---2024-08-23T23:16:39.8299754+07:00')
INSERT [dbo].[Banners] ([Id], [CategoryId], [Image], [CreatedAt], [UpdatedAt], [NormalizedTerm]) VALUES (N'fb05ad40-25c6-4a2f-9b75-6096d0bc547a', NULL, N'images/banners/fb05ad40-25c6-4a2f-9b75-6096d0bc547a.jpeg', CAST(N'2024-08-06T22:31:41.923' AS DateTime), CAST(N'2024-08-27T16:28:07.747' AS DateTime), N'---2024-08-06T22:31:41.9230000---2024-08-27T16:28:07.7461522+07:00')
GO
INSERT [dbo].[Categories] ([Id], [Name], [Image], [CreatedAt], [UpdatedAt], [NormalizedTerm]) VALUES (N'39a48c2c-081a-4d88-8014-2a45e16433b6', N'Hoa khai trương', N'images/categories/39a48c2c-081a-4d88-8014-2a45e16433b6.jpeg', CAST(N'2024-08-06T15:34:48.347' AS DateTime), CAST(N'2024-08-06T15:39:19.883' AS DateTime), N'Hoa khai truong---2024-08-06T15:34:48.3470000---2024-08-06T15:39:19.8816701+07:00')
INSERT [dbo].[Categories] ([Id], [Name], [Image], [CreatedAt], [UpdatedAt], [NormalizedTerm]) VALUES (N'ef7b760c-c615-4569-a688-5df572753d00', N'Hoa cẩm chướng', N'images/categories/ef7b760c-c615-4569-a688-5df572753d00.jpeg', CAST(N'2024-08-27T16:22:27.747' AS DateTime), CAST(N'2024-08-27T16:22:27.747' AS DateTime), N'Hoa cam chuong---2024-08-27T16:22:27.7470321+07:00---2024-08-27T16:22:27.7470797+07:00')
INSERT [dbo].[Categories] ([Id], [Name], [Image], [CreatedAt], [UpdatedAt], [NormalizedTerm]) VALUES (N'b993a419-275b-4a27-a2ec-65191c337e40', N'Bó hoa hồng', N'images/categories/b993a419-275b-4a27-a2ec-65191c337e40.jpeg', CAST(N'2024-08-06T15:39:57.893' AS DateTime), CAST(N'2024-08-27T15:21:54.820' AS DateTime), N'Bo hoa hong---2024-08-06T15:39:57.8930000---2024-08-27T15:21:54.8200110+07:00')
GO
INSERT [dbo].[OrderDetails] ([OrderId], [ProductId], [Quantity], [UnitPrice], [TotalPrice], [Id], [Discount], [DiscountPercentage]) VALUES (N'dfd971fe-32aa-4a8d-80d9-62c3b5a158c2', N'c397e0f4-860c-465b-88b3-fce200013abf', 5, CAST(1200000.000 AS Decimal(18, 3)), CAST(1200000.000 AS Decimal(18, 3)), N'064b80e4-e45d-4fd2-368c-08dcc67b8467', CAST(0.000 AS Decimal(18, 3)), CAST(0.000 AS Decimal(18, 3)))
INSERT [dbo].[OrderDetails] ([OrderId], [ProductId], [Quantity], [UnitPrice], [TotalPrice], [Id], [Discount], [DiscountPercentage]) VALUES (N'dfd971fe-32aa-4a8d-80d9-62c3b5a158c2', N'fc1acbb8-d8b9-450d-9630-bfd042b58838', 2, CAST(1500000.000 AS Decimal(18, 3)), CAST(1500000.000 AS Decimal(18, 3)), N'3d9648b6-df08-420a-368d-08dcc67b8467', CAST(0.000 AS Decimal(18, 3)), CAST(0.000 AS Decimal(18, 3)))
INSERT [dbo].[OrderDetails] ([OrderId], [ProductId], [Quantity], [UnitPrice], [TotalPrice], [Id], [Discount], [DiscountPercentage]) VALUES (N'4fb063ea-43aa-4c71-9322-a265e99fc4c7', N'86b017f5-0fb4-4683-8f3b-1a37e765e7fd', 2, CAST(2000000.000 AS Decimal(18, 3)), CAST(2000000.000 AS Decimal(18, 3)), N'8af041c5-bf16-48e2-ced1-08dcc67c60d6', CAST(0.000 AS Decimal(18, 3)), CAST(0.000 AS Decimal(18, 3)))
GO
INSERT [dbo].[Orders] ([Id], [UserId], [ReceiverName], [ReceiverAddress], [PhoneNumber], [NormalizedTerm], [Note], [TotalAmount], [OrderAt], [OrderStatusId], [SessionId], [Quantity]) VALUES (N'ee3e5721-6961-4ccd-838b-054db348b61a', N'8ed8d579-21bc-4d19-bf48-d038973ff9d8', N'Nguyễn Thị T', N'Cần Giờ, TPHCM', N'0853667771', N'------Nguyen Thi T---Can Gio, TPHCM---0853667771---6000000------2024-08-28T12:00:59.1858201+07:00', NULL, CAST(6000000.000 AS Decimal(18, 3)), CAST(N'2025-01-18T12:00:59.187' AS DateTime), N'9c635e3f-7618-49b5-bc6c-af2f1d8298e8', N'5966dd37-c546-4810-a3f4-df30326c652f', 6)
INSERT [dbo].[Orders] ([Id], [UserId], [ReceiverName], [ReceiverAddress], [PhoneNumber], [NormalizedTerm], [Note], [TotalAmount], [OrderAt], [OrderStatusId], [SessionId], [Quantity]) VALUES (N'17f11107-4456-4a6f-b676-0765821b05b1', N'8ed8d579-21bc-4d19-bf48-d038973ff9d8', N'Trần Thanh T', N'Cần Giờ, TPHCM', N'0853667771', N'------Tran Thanh T---Can Gio, TPHCM---0853667771---5200000------2024-08-28T11:53:39.2920414+07:00', NULL, CAST(5200000.000 AS Decimal(18, 3)), CAST(N'2024-11-30T11:53:39.293' AS DateTime), N'9c635e3f-7618-49b5-bc6c-af2f1d8298e8', N'5966dd37-c546-4810-a3f4-df30326c652f', 3)
INSERT [dbo].[Orders] ([Id], [UserId], [ReceiverName], [ReceiverAddress], [PhoneNumber], [NormalizedTerm], [Note], [TotalAmount], [OrderAt], [OrderStatusId], [SessionId], [Quantity]) VALUES (N'40f1568c-b4a4-4041-aedd-25465eb2a0b1', N'8ed8d579-21bc-4d19-bf48-d038973ff9d8', N'Lê Văn S', N'Cần Giờ, TPHCM', N'0853667771', N'------Le Van S---Can Gio, TPHCM---0853667771---3700000------2024-08-28T11:55:11.5775555+07:00', NULL, CAST(3700000.000 AS Decimal(18, 3)), CAST(N'2024-11-05T11:55:11.577' AS DateTime), N'9c635e3f-7618-49b5-bc6c-af2f1d8298e8', N'5966dd37-c546-4810-a3f4-df30326c652f', 4)
GO
INSERT [dbo].[OrderStatuses] ([Id], [Status]) VALUES (N'91c67799-3729-4016-8e98-19cd95939eea', N'Canceled')
INSERT [dbo].[OrderStatuses] ([Id], [Status]) VALUES (N'3ea93bb0-2349-4f6e-b0ba-25043a19c0c6', N'Shipping')
INSERT [dbo].[OrderStatuses] ([Id], [Status]) VALUES (N'eab8f17c-2927-4928-a407-6f07a4e87824', N'Processing')
GO
INSERT [dbo].[OrderStatusHistories] ([OrderId], [UpdatedAt], [OrderStatusId], [Id]) VALUES (N'dfd971fe-32aa-4a8d-80d9-62c3b5a158c2', CAST(N'2024-08-26T16:34:58.380' AS DateTime), N'9c635e3f-7618-49b5-bc6c-af2f1d8298e8', N'b8d81bb5-642e-43d1-301c-08dcc67b845f')
INSERT [dbo].[OrderStatusHistories] ([OrderId], [UpdatedAt], [OrderStatusId], [Id]) VALUES (N'4fb063ea-43aa-4c71-9322-a265e99fc4c7', CAST(N'2024-08-27T16:41:08.167' AS DateTime), N'9c635e3f-7618-49b5-bc6c-af2f1d8298e8', N'a5ea71a5-6866-4eae-14dd-08dcc67c60c8')
INSERT [dbo].[OrderStatusHistories] ([OrderId], [UpdatedAt], [OrderStatusId], [Id]) VALUES (N'd1c9a6ae-f004-4e54-a8b9-a0aa30fbffff', CAST(N'2024-08-28T11:46:19.897' AS DateTime), N'9c635e3f-7618-49b5-bc6c-af2f1d8298e8', N'b5a336b1-d135-41e2-f7f0-08dcc71c5c29')
GO
INSERT [dbo].[PaymentMethods] ([Id], [Name]) VALUES (N'0580a0b4-9a33-48e0-80f1-288b89e016ad', N'Banking')
INSERT [dbo].[PaymentMethods] ([Id], [Name]) VALUES (N'6f0e9b01-bdb3-4856-8ffd-d1a4ae34281b', N'COD')
GO
INSERT [dbo].[PaymentStatuses] ([Id], [Status]) VALUES (N'53a8d241-eaa8-463e-8a23-2497d15966ae', N'Paid')
INSERT [dbo].[PaymentStatuses] ([Id], [Status]) VALUES (N'ad6a8571-447d-41cb-acfe-7b9fa4011455', N'Confirming')
INSERT [dbo].[PaymentStatuses] ([Id], [Status]) VALUES (N'af265def-a0ef-4224-9680-bd96a5580a38', N'Failed')
GO
INSERT [dbo].[Promotions] ([Id], [Name], [Description], [StartAt], [EndAt], [NormalizedTerm], [Discount], [DiscountPercentage]) VALUES (N'82babddf-ecc4-4208-ba5c-18332153c84a', N'Giảm giá tháng 8', N'Giảm giá tháng 8', CAST(N'2024-08-30T08:47:03.000' AS DateTime), CAST(N'2024-10-30T10:40:00.000' AS DateTime), N'Giam gia thang 8---Giam gia thang 8---20000---5---2024-08-30T08:47:03.0000000---2024-10-30T10:40:00.0000000', CAST(20000.000 AS Decimal(18, 3)), CAST(5.000 AS Decimal(18, 3)))
INSERT [dbo].[Promotions] ([Id], [Name], [Description], [StartAt], [EndAt], [NormalizedTerm], [Discount], [DiscountPercentage]) VALUES (N'9454ddbf-d687-4908-93fa-52e7e53993ed', N'Giảm giá tháng 9', N'Giảm giá tháng 9', CAST(N'2024-09-01T10:47:00.000' AS DateTime), CAST(N'2024-09-30T10:47:00.000' AS DateTime), N'Giam gia thang 9---Giam gia thang 9---25000---10---2024-09-01T10:47:00.0000000---2024-09-30T10:47:00.0000000', CAST(25000.000 AS Decimal(18, 3)), CAST(10.000 AS Decimal(18, 3)))
GO
INSERT [dbo].[Roles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'c90e8feb-df16-47f5-a170-0c71b3db1791', N'User', N'USER', N'bac7921b-89fc-48cc-9de3-8db716672c8d')
INSERT [dbo].[Roles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'cb287e1b-f255-45d7-bd52-f94843748bf6', N'Admin', N'ADMIN', N'4cd51c4f-028f-4754-8c3f-488bfdb90aa2')
GO
INSERT [dbo].[SessionStatuses] ([Id], [Status]) VALUES (N'83fff6b7-63bc-4bf6-a75c-80d0469d2d1a', N'Completed')
INSERT [dbo].[SessionStatuses] ([Id], [Status]) VALUES (N'4ec00c59-5275-4b79-a3c4-cdfbc08839b5', N'Abandoned')
INSERT [dbo].[SessionStatuses] ([Id], [Status]) VALUES (N'268515d6-6b79-42f0-926d-e504aec799ab', N'Active')
GO
INSERT [dbo].[ShoppingSessions] ([Id], [UserId], [SessionStatusId], [CreatedAt], [UpdatedAt]) VALUES (N'cce1422e-00cf-48fb-9e58-288bd06424f9', NULL, N'268515d6-6b79-42f0-926d-e504aec799ab', CAST(N'2024-08-26T15:23:43.193' AS DateTime), CAST(N'2024-08-26T15:23:43.193' AS DateTime))
INSERT [dbo].[ShoppingSessions] ([Id], [UserId], [SessionStatusId], [CreatedAt], [UpdatedAt]) VALUES (N'551bb3c1-6281-4d86-9894-7addfecb0488', NULL, N'268515d6-6b79-42f0-926d-e504aec799ab', CAST(N'2024-08-21T13:52:10.850' AS DateTime), CAST(N'2024-08-21T13:52:10.850' AS DateTime))
INSERT [dbo].[ShoppingSessions] ([Id], [UserId], [SessionStatusId], [CreatedAt], [UpdatedAt]) VALUES (N'5966dd37-c546-4810-a3f4-df30326c652f', NULL, N'268515d6-6b79-42f0-926d-e504aec799ab', CAST(N'2024-08-28T11:45:24.957' AS DateTime), CAST(N'2024-08-28T11:45:24.957' AS DateTime))
GO
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (N'8ed8d579-21bc-4d19-bf48-d038973ff9d8', N'c90e8feb-df16-47f5-a170-0c71b3db1791')
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (N'e941169b-3d6e-4a47-bae2-1647eec816e2', N'cb287e1b-f255-45d7-bd52-f94843748bf6')
GO
INSERT [dbo].[UserTokens] ([UserId], [LoginProvider], [Name], [Value]) VALUES (N'8ed8d579-21bc-4d19-bf48-d038973ff9d8', N'JWT', N'refresh_token', N'u8NjeoDDSDGJSzF87y2gXQhUWbM0B6PZP1I95qUQsUs=')
GO
/****** Object:  Index [IX_Banners_CategoryId]    Script Date: 8/28/2024 1:20:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_Banners_CategoryId] ON [dbo].[Banners]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CartItems_ProductId]    Script Date: 8/28/2024 1:20:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_CartItems_ProductId] ON [dbo].[CartItems]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CartItems_SessionId]    Script Date: 8/28/2024 1:20:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_CartItems_SessionId] ON [dbo].[CartItems]
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Feedbacks_ProductId]    Script Date: 8/28/2024 1:20:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_Feedbacks_ProductId] ON [dbo].[Feedbacks]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Feedbacks_UserId]    Script Date: 8/28/2024 1:20:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_Feedbacks_UserId] ON [dbo].[Feedbacks]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_News_CategoryId]    Script Date: 8/28/2024 1:20:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_News_CategoryId] ON [dbo].[News]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderDetails_OrderId]    Script Date: 8/28/2024 1:20:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_OrderId] ON [dbo].[OrderDetails]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderDetails_ProductId]    Script Date: 8/28/2024 1:20:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_ProductId] ON [dbo].[OrderDetails]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_OrderStatusId]    Script Date: 8/28/2024 1:20:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_OrderStatusId] ON [dbo].[Orders]
(
	[OrderStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_SessionId]    Script Date: 8/28/2024 1:20:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_SessionId] ON [dbo].[Orders]
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Orders_UserId]    Script Date: 8/28/2024 1:20:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_UserId] ON [dbo].[Orders]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderStatusHistories_OrderId]    Script Date: 8/28/2024 1:20:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderStatusHistories_OrderId] ON [dbo].[OrderStatusHistories]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderStatusHistories_OrderStatusId]    Script Date: 8/28/2024 1:20:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderStatusHistories_OrderStatusId] ON [dbo].[OrderStatusHistories]
(
	[OrderStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PaymentTransactions_OrderId]    Script Date: 8/28/2024 1:20:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_PaymentTransactions_OrderId] ON [dbo].[PaymentTransactions]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PaymentTransactions_PaymentMethodId]    Script Date: 8/28/2024 1:20:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_PaymentTransactions_PaymentMethodId] ON [dbo].[PaymentTransactions]
(
	[PaymentMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PaymentTransactions_SessionId]    Script Date: 8/28/2024 1:20:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_PaymentTransactions_SessionId] ON [dbo].[PaymentTransactions]
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PaymentTransactions_UserId]    Script Date: 8/28/2024 1:20:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_PaymentTransactions_UserId] ON [dbo].[PaymentTransactions]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_CategoryId]    Script Date: 8/28/2024 1:20:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_Products_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PromotionProducts_ProductId]    Script Date: 8/28/2024 1:20:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_PromotionProducts_ProductId] ON [dbo].[PromotionProducts]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PromotionProducts_PromotionId]    Script Date: 8/28/2024 1:20:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_PromotionProducts_PromotionId] ON [dbo].[PromotionProducts]
(
	[PromotionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleClaims_RoleId]    Script Date: 8/28/2024 1:20:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleClaims_RoleId] ON [dbo].[RoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 8/28/2024 1:20:33 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[Roles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ShoppingSessions_SessionStatusId]    Script Date: 8/28/2024 1:20:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_ShoppingSessions_SessionStatusId] ON [dbo].[ShoppingSessions]
(
	[SessionStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ShoppingSessions_UserId]    Script Date: 8/28/2024 1:20:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_ShoppingSessions_UserId] ON [dbo].[ShoppingSessions]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserClaims_UserId]    Script Date: 8/28/2024 1:20:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserClaims_UserId] ON [dbo].[UserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserLogins_UserId]    Script Date: 8/28/2024 1:20:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserLogins_UserId] ON [dbo].[UserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserRoles_RoleId]    Script Date: 8/28/2024 1:20:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserRoles_RoleId] ON [dbo].[UserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 8/28/2024 1:20:33 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[Users]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 8/28/2024 1:20:33 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[Users]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Feedbacks] ADD  DEFAULT (N'') FOR [UserId]
GO
ALTER TABLE [dbo].[Feedbacks] ADD  DEFAULT ('37a8b078-4007-43cb-922b-fa3ed06147cf') FOR [ProductId]
GO
ALTER TABLE [dbo].[Feedbacks] ADD  DEFAULT (N'') FOR [Comment]
GO
ALTER TABLE [dbo].[Feedbacks] ADD  DEFAULT (N'') FOR [Email]
GO
ALTER TABLE [dbo].[Feedbacks] ADD  DEFAULT (N'') FOR [FullName]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [OrderId]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [ProductId]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT ((0.0)) FOR [TotalPrice]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT ('83dce125-68b4-4551-8602-ed1d495c7d89') FOR [Id]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0.0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('0001-01-01T00:00:00.000') FOR [OrderAt]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('65c399ef-b7d6-4bf6-9ddd-5d50b072c42e') FOR [OrderStatusId]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('279ab151-e036-4d1f-8b21-07f556691d17') FOR [SessionId]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[OrderStatusHistories] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [OrderStatusId]
GO
ALTER TABLE [dbo].[OrderStatusHistories] ADD  DEFAULT ('93a1c5dd-1732-4406-afb0-18d29c452257') FOR [Id]
GO
ALTER TABLE [dbo].[PaymentTransactions] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [OrderId]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ('ebed364a-137b-4886-bcf4-470aca34bd0b') FOR [CategoryId]
GO
ALTER TABLE [dbo].[PromotionProducts] ADD  DEFAULT ('fcecd663-6d7c-4a7a-bc16-3e8964249001') FOR [Id]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT ((0.0)) FOR [Discount]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT ((0.0)) FOR [DiscountPercentage]
GO
ALTER TABLE [dbo].[Banners]  WITH CHECK ADD  CONSTRAINT [FK_Banners_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Banners] CHECK CONSTRAINT [FK_Banners_Categories]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Products]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_ShoppingSessions_CartItems] FOREIGN KEY([SessionId])
REFERENCES [dbo].[ShoppingSessions] ([Id])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_ShoppingSessions_CartItems]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_Products]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_Users]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_Categories]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_OrderStatuses] FOREIGN KEY([OrderStatusId])
REFERENCES [dbo].[OrderStatuses] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_OrderStatuses]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_ShoppingSessions] FOREIGN KEY([SessionId])
REFERENCES [dbo].[ShoppingSessions] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_ShoppingSessions]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[OrderStatusHistories]  WITH CHECK ADD  CONSTRAINT [FK_OrderStatusHistories_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderStatusHistories] CHECK CONSTRAINT [FK_OrderStatusHistories_Orders]
GO
ALTER TABLE [dbo].[OrderStatusHistories]  WITH CHECK ADD  CONSTRAINT [FK_OrderStatusHistories_OrderStatuses] FOREIGN KEY([OrderStatusId])
REFERENCES [dbo].[OrderStatuses] ([Id])
GO
ALTER TABLE [dbo].[OrderStatusHistories] CHECK CONSTRAINT [FK_OrderStatusHistories_OrderStatuses]
GO
ALTER TABLE [dbo].[PaymentTransactions]  WITH CHECK ADD  CONSTRAINT [FK_PaymentTransactions_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[PaymentTransactions] CHECK CONSTRAINT [FK_PaymentTransactions_Orders]
GO
ALTER TABLE [dbo].[PaymentTransactions]  WITH CHECK ADD  CONSTRAINT [FK_PaymentTransactions_PaymentMethods] FOREIGN KEY([PaymentMethodId])
REFERENCES [dbo].[PaymentMethods] ([Id])
GO
ALTER TABLE [dbo].[PaymentTransactions] CHECK CONSTRAINT [FK_PaymentTransactions_PaymentMethods]
GO
ALTER TABLE [dbo].[PaymentTransactions]  WITH CHECK ADD  CONSTRAINT [FK_PaymentTransactions_PaymentStatuses] FOREIGN KEY([PaymentMethodId])
REFERENCES [dbo].[PaymentStatuses] ([Id])
GO
ALTER TABLE [dbo].[PaymentTransactions] CHECK CONSTRAINT [FK_PaymentTransactions_PaymentStatuses]
GO
ALTER TABLE [dbo].[PaymentTransactions]  WITH CHECK ADD  CONSTRAINT [FK_PaymentTransactions_ShoppingSessions] FOREIGN KEY([SessionId])
REFERENCES [dbo].[ShoppingSessions] ([Id])
GO
ALTER TABLE [dbo].[PaymentTransactions] CHECK CONSTRAINT [FK_PaymentTransactions_ShoppingSessions]
GO
ALTER TABLE [dbo].[PaymentTransactions]  WITH CHECK ADD  CONSTRAINT [FK_PaymentTransactions_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PaymentTransactions] CHECK CONSTRAINT [FK_PaymentTransactions_Users_UserId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[PromotionProducts]  WITH CHECK ADD  CONSTRAINT [FK_PromotionProducts_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[PromotionProducts] CHECK CONSTRAINT [FK_PromotionProducts_Products]
GO
ALTER TABLE [dbo].[PromotionProducts]  WITH CHECK ADD  CONSTRAINT [FK_PromotionProducts_Promotions] FOREIGN KEY([PromotionId])
REFERENCES [dbo].[Promotions] ([Id])
GO
ALTER TABLE [dbo].[PromotionProducts] CHECK CONSTRAINT [FK_PromotionProducts_Promotions]
GO
ALTER TABLE [dbo].[RoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_RoleClaims_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleClaims] CHECK CONSTRAINT [FK_RoleClaims_Roles_RoleId]
GO
ALTER TABLE [dbo].[ShoppingSessions]  WITH CHECK ADD  CONSTRAINT [FK_ShoppingSessions_SessionStatuses] FOREIGN KEY([SessionStatusId])
REFERENCES [dbo].[SessionStatuses] ([Id])
GO
ALTER TABLE [dbo].[ShoppingSessions] CHECK CONSTRAINT [FK_ShoppingSessions_SessionStatuses]
GO
ALTER TABLE [dbo].[ShoppingSessions]  WITH CHECK ADD  CONSTRAINT [FK_ShoppingSessions_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ShoppingSessions] CHECK CONSTRAINT [FK_ShoppingSessions_Users]
GO
ALTER TABLE [dbo].[UserClaims]  WITH CHECK ADD  CONSTRAINT [FK_UserClaims_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserClaims] CHECK CONSTRAINT [FK_UserClaims_Users_UserId]
GO
ALTER TABLE [dbo].[UserLogins]  WITH CHECK ADD  CONSTRAINT [FK_UserLogins_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserLogins] CHECK CONSTRAINT [FK_UserLogins_Users_UserId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles_RoleId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users_UserId]
GO
ALTER TABLE [dbo].[UserTokens]  WITH CHECK ADD  CONSTRAINT [FK_UserTokens_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserTokens] CHECK CONSTRAINT [FK_UserTokens_Users_UserId]
GO
/****** Object:  StoredProcedure [dbo].[CalculateDailyRevenue]    Script Date: 8/28/2024 1:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CalculateDailyRevenue]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        CAST(o.OrderAt AS DATE) AS OrderDate,
        SUM(od.Quantity * od.TotalPrice) AS DailyRevenue
    FROM 
        Orders o
    INNER JOIN 
        OrderDetails od ON o.Id = od.OrderId
    GROUP BY 
        CAST(o.OrderAt AS DATE)
    ORDER BY 
        OrderDate;
END
GO
/****** Object:  StoredProcedure [dbo].[CalculateMonthlyRevenue]    Script Date: 8/28/2024 1:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CalculateMonthlyRevenue]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        YEAR(o.OrderAt) AS OrderYear,
        MONTH(o.OrderAt) AS OrderMonth,
        SUM(od.Quantity * od.TotalPrice) AS MonthlyRevenue
    FROM 
        Orders o
    INNER JOIN 
        OrderDetails od ON o.Id = od.OrderId
    GROUP BY 
        YEAR(o.OrderAt), 
        MONTH(o.OrderAt)
    ORDER BY 
        OrderYear, 
        OrderMonth;
END
GO
/****** Object:  StoredProcedure [dbo].[CalculateYearlyRevenue]    Script Date: 8/28/2024 1:20:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CalculateYearlyRevenue]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        YEAR(o.OrderAt) AS OrderYear,
        SUM(od.Quantity * od.TotalPrice) AS YearlyRevenue
    FROM 
        Orders o
    INNER JOIN 
        OrderDetails od ON o.Id = od.OrderId
    GROUP BY 
        YEAR(o.OrderAt)
    ORDER BY 
        OrderYear;
END
GO
USE [master]
GO
